    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Standartinis Meta Pavadinimas -->
    <title>{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title }}{% endif %}</title>
    
    <!-- Open Graph / Social Media Žymos -->
    <meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
    <meta property="og:description" content="{{ page.og_description }}">
    <meta property="og:image" content="{{ page.og_image | absolute_url }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:type" content="{{ page.og_type | default: 'website' }}">
    <meta property="og:locale" content="{% if page.lang == 'lt' %}lt_LT{% elsif page.lang == 'no' %}nb_NO{% else %}en_US{% endif %}">
    
    <!-- Twitter / X Kortelės (papildomai naudinga turėti šalia OG) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ page.og_description }}">
    <meta name="twitter:image" content="{{ page.og_image | absolute_url }}">

    <base href="/uptest.no/">

<link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png?v=20260801" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="images/favicon/favicon.svg?v=20260801" />
<link rel="shortcut icon" href="images/favicon/favicon.ico?v=20260801" />
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png?v=20260801" />
<meta name="apple-mobile-web-app-title" content="Uptest" />
<link rel="manifest" href="images/favicon/site.webmanifest?v=20260801" />

    <link rel="stylesheet" href="fonts.css">

    {% include tailwind.html %}
