    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.og_description %}{{ page.og_description }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.og_description %}{{ page.og_description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{{ page.og_image | default: site.default_image | absolute_url }}">
    <meta property="og:type" content="{{ page.og_type | default: 'website' }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">

    <base href="/uptest.no/">

    <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Uptest" />
    <link rel="manifest" href="images/favicon/site.webmanifest" />

    <link rel="stylesheet" href="fonts.css">

    {% include tailwind.html %}
