<meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.og_description %}{{ page.og_description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{{ page.og_image | default: site.default_image | absolute_url }}">
<meta property="og:type" content="{{ page.og_type | default: 'website' }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
